/*---------------------------------------------------------------------
    File Name: style.css
---------------------------------------------------------------------*/

/*---------------------------------------------------------------------
    import Fonts
---------------------------------------------------------------------*/

@import url("https://fonts.googleapis.com/css?family=Rajdhani:300,400,500,600,700");
@import url("https://fonts.googleapis.com/css?family=Poppins:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i");

/*****----------------------------------------
     1) font-family: 'Rajdhani', sans-serif;  
     2) font-family: 'Poppins', sans-serif; 
----------------------------------------*****/

/*---------------------------------------------------------------------
    import Files
---------------------------------------------------------------------*/

@import url(/css/normalize.css);
/*---------------------------------------------------------------------
    skeleton
---------------------------------------------------------------------*/

html {
  scroll-behavior: smooth;
}

body {
  color: #666666;
  font-size: 14px;
  font-family: "poppins", sans-serif;
  line-height: 1.80857;
  font-weight: normal;
  overflow-x: hidden;
}

a {
  text-decoration: none !important;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  letter-spacing: 0;
  font-weight: normal;
  position: relative;
  padding: 0 0 10px 0;
  font-weight: normal;
  line-height: normal;
  color: white;
  margin: 0;
}

h1 {
  font-size: 24px;
}

h2 {
  font-size: 22px;
}

h3 {
  font-size: 1.5rem !important;
}

h4 {
  font-size: 16px;
}

h5 {
  font-size: 14px;
}

h6 {
  font-size: 13px;
}

*,
*::after,
*::before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

h1 a,
h2 a,
h3 a,
h4 a,
h5 a,
h6 a {
  color: #212121;
  text-decoration: none !important;
  opacity: 1;
}

button:focus {
  outline: none;
}

ul,
li,
ol {
  margin: 0px;
  padding: 0px;
  list-style: none;
}

p {
  margin: 0px;
  font-weight: 300;
  font-size: 18px;
  line-height: normal;
  color: white;
}

a {
  color: #222222;
  text-decoration: none;
}

a,
.btn {
  text-decoration: none !important;
}

:focus {
  outline: 0;
}

.btn-custom {
  margin-top: 20px;
  background-color: transparent !important;
  border: 2px solid #ddd;
  padding: 12px 40px;
  font-size: 16px;
}

.lead {
  font-size: 18px;
  line-height: 30px;
  color: #767676;
  margin: 0;
  padding: 0;
}

.navbar-form input {
  border: none !important;
}

button {
  border: 0;
  margin: 0;
  padding: 0;
  cursor: pointer;
}

.full {
  float: left;
  width: 100%;
  padding-top: 20px;
}

.layout_padding {
  padding-bottom: 0px;
}

.layout_padding_2 {
  padding-top: 0px;
  padding-bottom: 0px;
}

.margin_top_30 {
  margin-top: 30px !important;
}

.margin_top_0 {
  margin-top: 0px !important;
}

.full {
  width: 100%;
  float: left;
  margin: 0;
  padding: 0;
  margin-bottom: 60px;
}

.img-hookah {
  transform: scale(0.8);
}

/**-- heading section --**/

.white_heading_main h2 {
  color: #fff;
}

.small_main_heading {
  margin-top: 25px;
  float: left;
  width: 100%;
  border-bottom: solid rgba(0, 0, 0, 0.07) 1px;
  margin-bottom: 25px;
}

a.readmore_bt {
  color: #fff;
  font-weight: 300;
  text-decoration: underline !important;
}

/**-- list icon --**/

.ul_list_info_icon ul {
  list-style: none;
}

.ul_list_info_icon ul li {
  display: inline;
  float: left;
  width: 100%;
}

.ul_list_info_icon ul li img {
  width: 75px;
}

/*----------------------------
    preloader area
----------------------------*/

.loader_bg {
  position: fixed;
  z-index: 9999999;
  background: #fff;
  width: 100%;
  height: 100%;
}

.loader {
  height: 100%;
  width: 100%;
  position: absolute;
  left: 0;
  top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.loader img {
  width: 280px;
}

.margin_top_50 {
  margin-top: 50px;
}

.margin_bottom_30_all {
  margin-bottom: 30px;
}

.text_align_center {
  text-align: center;
}

.field input:focus,
input:focus,
.text_align_center:focus,
.form-control:focus,
.field textarea:focus,
a:focus,
h2:focus,
.img-products-body:focus {
  border: 2px solid black;
}

/*---------------------------------------------------------------------
    header area
---------------------------------------------------------------------*/

header {
  background: transparent;
  min-height: 122px;
  padding: 30px 0 0;
}

.header-content {
  float: right;
  color: white;
  padding-left: 40px;
}

nav.main-menu {
  float: left;
  margin-left: 0;
}

.right_cart_section {
  float: right;
  width: auto;
}

.right_cart_section ul {
  float: left;
  min-height: auto;
  margin: 0;
  padding: 12px 0 0;
}

.right_cart_section .cart_icons {
  padding: 18px 0 0;
}

.right_cart_section ul li {
  float: left;
  font-size: 17px;
  font-weight: 400;
  color: #fff;
  margin-right: 30px;
}

.right_cart_section ul.cart_update li {
  font-size: 13px;
  color: #ccc;
  line-height: normal;
  margin: 0;
  font-weight: 300;
}

.right_cart_section ul.cart_update li span {
  font-size: 18px;
  font-weight: 300;
  color: #fff;
  line-height: 21px;
}

.right_cart_section ul li i {
  margin-right: 10px;
  margin-top: 5px;
  float: left;
  color: #fff;
  font-size: 21px;
}

.right_cart_section ul li a {
  color: #fff;
}

/*-- end header middle --*/

.top-bar-info {
  background: #111111;
  padding: 5px 0px;
}

.top-menu-left {
  float: left;
}

.top-menu-left li {
  position: relative;
  display: inline-block;
  margin-right: 11px;
  padding-right: 12px;
}

.top-menu-left li::before {
  content: "";
  position: absolute;
  right: 0;
  top: 9px;
  height: 10px;
  border-right: 1px dotted #999;
}

.top-menu-left li:last-child::before {
  display: none;
}

.top-menu-left li:last-child {
  padding: 0px;
  margin: 0px;
}

.top-menu-left li a {
  color: #ffffff;
  font-size: 12px;
  text-transform: uppercase;
  text-decoration: none;
}

.top-menu-left li a:hover {
  color: #38c8a8;
}

.right-dropdown-language {
  float: right;
  margin-left: 12px;
}

.right-dropdown-language > a {
  line-height: 10px;
  padding: 5px 5px;
  cursor: pointer;
}

.dropdown-bar .dropdown-link li a {
  color: #111111;
  display: block;
  font-size: 12px;
  line-height: 15px;
  padding: 5px 0;
}

.dropdown-bar .dropdown-link li a:hover {
  color: #38c8a8;
}

.dropdown-bar .dropdown-link li a img {
  margin-right: 7px;
}

.dropdown-bar .dropdown-link li.active {
  font-weight: bold;
}

.right-dropdown-language .dropdown-link {
  min-width: 100px;
  padding: 7px 10px;
  color: #111111;
}

.dropdown-bar {
  position: relative;
  padding: 0 5px;
  font-size: 13px;
}

.dropdown-bar .dropdown-link.right-sd {
  left: auto;
  right: 0;
}

.right-dropdown-currency {
  float: right;
  margin-left: 12px;
}

.dropdown-bar.right-dropdown-currency > a::after {
  font-family: "FontAwesome";
  content: "\f107";
  text-decoration: none;
  padding-left: 4px;
  color: #ffffff;
}

.right-dropdown-currency > a {
  line-height: 10px;
  padding: 5px 5px;
  cursor: pointer;
  color: #ffffff;
}

.right-dropdown-currency .dropdown-link {
  min-width: 100px;
  padding: 7px 10px;
  color: #111111;
}

.right-dropdown-currency .dropdown-link {
  min-width: 55px;
  padding: 7px 10px;
}

.right-dropdown-currency .dropdown-link li a span.symbol {
  margin-right: 7px;
}

#login-modal .modal-content {
  border-radius: 0px;
}

#login-modal .modal-content .modal-header {
  background: #38c8a8;
  border-radius: 0;
}

#login-modal .modal-content .modal-body .form-group input {
  background: #ffffff;
  border: 1px solid #c8c8c8;
  border-radius: 0px;
}

#login-modal .modal-content .modal-body .form-group input:focus {
  border: 1px solid black !important;
}

#login-modal .modal-content form {
  margin-bottom: 10px;
}

.modal-title {
  padding: 0px;
  color: #ffffff;
  font-size: 18px;
  text-transform: uppercase;
}

.btn-template-outlined {
  background: #111111;
  color: #ffffff;
  border: none;
  border-radius: 0px;
}

.btn-template-outlined i {
  padding-right: 10px;
}

.text-muted {
  padding: 10px 0px;
}

.slogan-line {
  float: right;
  color: #ffffff;
  font-size: 13px;
}

.middle-area {
  padding: 30px 0px;
}

.header-search {
  padding: 3px 0px;
}

.header-search form {
  position: relative;
  -webkit-box-shadow: 0px 1px 10px -1px rgba(0, 0, 0, 0.2);
  box-shadow: 0px 1px 10px -1px rgba(0, 0, 0, 0.2);
}

.header-search .btn-group.bootstrap-select {
  position: absolute;
  left: 0px;
  top: 0px;
}

.header-search input {
  width: 100%;
  min-height: 45px;
  border-radius: 0px;
  border: none;
  padding-left: 15px;
  border: 1px solid #e0e7ed;
}

.header-search form .search-btn {
  position: absolute;
  right: 0;
  top: 0;
  border: 0;
  color: #fff;
  font-size: 20px;
  padding: 4px 15px;
  border-radius: 0px;
  background-color: #38c8a8;
  cursor: pointer;
}

.header-search form .search-btn:hover {
  background: #111111;
}

.subtotal {
  text-align: left;
  text-transform: capitalize;
  color: #38c8a8;
  font-weight: 500;
  margin-bottom: 15px;
}

.subtotal span {
  font-weight: bold;
  color: #111111;
  padding-left: 15px;
  float: right;
}

.line-cart {
  position: relative;
}

.sub-down li {
  background: #ffffff;
}


.mean-container .mean-nav {
  margin-top: 0px;
  position: absolute;
  top: 100%;
}

.nav > li {
  position: inherit;
  display: inline-block;
  vertical-align: middle;
}

.img-responsive {
  max-width: 100%;
}

.dark_bg {
  background: #0f0824;
}

.dark_bg h3 {
  color: #fff;
}

.white_font {
  color: #fff !important;
}

.grey_font {
  color: #79797a;
}

/*---------------------------------------------------------------------
    layout new css 
---------------------------------------------------------------------*/

.top_section {
  height: 1080px;
  background: url("/images/Background-Image-First-Page.jpeg");
  /*background: url("/images/Background_start_2.jpg");*/
  background-size: cover;
  background-attachment: fixed;
}

.bottom-drink-section {
  margin-bottom: 60px;
}

.right_header_info {
  width: 100%;
  float: left;
  padding: 20px 0 0;
}

.header-all {
  color: white;
}

.header-all:hover {
  color: #82260e;
}

.right_header_info ul {
  list-style: none;
  padding: 0;
  margin: 0;
  float: right;
}

.right_header_info ul li {
  display: inline;
  font-size: 18px;
  margin-left: 50px;
}

.right_header_info ul li a {
  color: #fff;
  font-weight: 300;
}

.slider_cont_section h1 {
  color: #fff;
  text-transform: uppercase;
  font-size: 48px;
  font-weight: 700;
  padding: 0;
  line-height: normal;
}

.slider_cont_section h4 {
  color: #fff;
  text-transform: uppercase;
  font-size: 35px;
  font-weight: 700;
  padding: 0;
  line-height: normal;
}

.slider_cont_section h3 {
  color: #fff;
  text-transform: uppercase;
  font-size: 135px;
  font-weight: 700;
  padding: 0;
  line-height: 125px;
  margin-bottom: 35px;
}

.slider_cont_section p {
  color: #fff;
  font-size: 18px;
  font-weight: 300;
  padding: 0;
  line-height: normal;
}

.button_section_white a {
  width: 190px;
  height: 50px;
  background: #82260e;
  float: left;
  margin-right: 15px;
  line-height: 50px;
  border-radius: 100px;
  font-size: 17px;
  color: #fff;
  text-align: left;
  padding: 0 25px;
  font-weight: 400;
  position: relative;
  letter-spacing: 0.1px;
}
.button_section_red a {
  width: 190px;
  height: 50px;
  background: white;
  float: left;
  margin-right: 15px;
  line-height: 50px;
  border-radius: 100px;
  font-size: 17px;
  color: #82260e;
  text-align: left;
  padding: 0 25px;
  font-weight: 400;
  position: relative;
  letter-spacing: 0.1px;
}

.button_section_white a:hover,
.button_section_red a:hover,
.button_section_red a:focus,
.button_section_white a:focus {
  color: white;
  background: #295406;
}

.button_section a::after {
  width: 50px;
  content: ">";
  position: absolute;
  right: -2px;
  top: 0;
  color: white;
  height: 100%;
  border-radius: 0 100px 100px 0;
  text-align: center;
  font-size: 22px;
}

.full.slider_cont_section {
  padding-top: 120px;
  right: 70px;
}

.center {
  display: flex;
  justify-content: center;
  position: relative;
}

#slider_main {
  padding-top: 205px;
}

.top_section div.button_section {
  display: flex;
}

/** sidebar **/

/* ---------------------------------------------------
    SIDEBAR STYLE
----------------------------------------------------- */

#sidebar {
  width: 280px;
  position: fixed;
  top: 0;
  left: -280px;
  height: 100vh;
  z-index: 999;
  background: #fff;
  color: #fff;
  transition: all 0.3s;
  overflow-y: scroll;
  box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.2);
}

#sidebar.active {
  left: 0;
}


.overlay {
  display: none;
  position: fixed;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.7);
  z-index: 998;
  opacity: 0;
  transition: all 0.5s ease-in-out;
}
.overlay.active {
  display: block;
  opacity: 1;
}

a[data-toggle="collapse"] {
  position: relative;
}

.dropdown-toggle::after {
  display: block;
  position: absolute;
  top: 50%;
  right: 20px;
  transform: translateY(-50%);
}

ul ul a {
  font-size: 0.9em !important;
  padding-left: 30px !important;
  background: #6d7fcc;
}

/* ---------------------------------------------------
    CONTENT STYLE
----------------------------------------------------- */

.main_heading._left_side {
  color: #82260e;
  font-weight: 700;
}

p.large {
  font-size: 18px;
  line-height: 38px;
}

.text_align_right {
  text-align: right;
}

.r-img img {
  float: right;
}

.padding_top_0 {
  padding-top: 0 !important;
}

.dark_bg_blue {
  background: #82260e;
}

.dark_bg_orange {
  background: white;
}

.cross_layout {
  min-height: 700px;
  position: relative;
}

.cross_layout_o {
  margin-top: 0;
  position: relative;
}

.cross_layout_o {
  margin-top: 300px;
  position: relative;
}

h2.heading_main {
  font-size: 40px;
  font-weight: 600;
  text-align: center;
  color: #82260e;
  min-height: 90px;
  padding: 0;
  margin: 0;
  line-height: 90px;
  min-width: 445px;
  float: left;
  background: white;
  border-bottom-right-radius: 20px;
  border-bottom-left-radius: 20px;
}

.choose_blog h3 {
  color: #fff;
  font-weight: 700;
  letter-spacing: 0;
  margin-top: 20px;
  margin-bottom: 10px;
  padding: 0;
}

.choose_blog p {
  color: white;
  padding: 0 20px;
  font-size: 17px;
  line-height: 24px;
}

.dark_bg_orange {
  margin-top: 0;
}

.dark_bg_orange h2.heading_main.orange_heading {
  background: #82260e;
  color: white;
}

.testimonial_cont {
  background: #fff;
  margin-top: -40px;
  padding-top: 60px;
  min-height: 295px;
  padding-left: 80px;
  padding-right: 80px;
}

.orange_color {
  color: #82260e !important;
}

#map {
  height: 100%;
  min-height: 480px;
}

.contact_form {
  margin-bottom: 60px;
  background: #fff;
  padding: 35px 45px;
}

.field input {
  width: 100%;
  border: none;
  background: #e8e8e8;
  min-height: 52px;
  padding: 0 20px;
  font-size: 14px;
  font-weight: 400;
  margin: 10px 0;
}

.field textarea {
  width: 100%;
  border: none;
  font-size: 14px;
  background: #e8e8e8;
  min-height: 52px;
  padding: 15px 20px;
  font-size: 14px;
  font-weight: 400;
  margin: 10px 0;
  min-height: 110px;
}

button.submit_bt {
  width: 165px;
  height: 51px;
  background: #82260e;
  color: #fff;
  font-size: 15px;
  font-weight: 300;
  margin-top: 10px;
  cursor: pointer;
  transition: ease all 0.5s;
}

button.submit_bt:hover,
button.submit_bt:focus {
  background: #295406;
  color: #fff;
}

/** footer **/

footer {
  background: white;
  background-size: cover;
  background-attachment: fixed;
  padding-top: 20px;
}

footer h3 {
  color: black;
  font-size: 35px;
  font-weight: 600;
  padding: 0;
  border-bottom: solid #f36b2a 1px;
  float: left;
}

h3.widget_heading {
  font-size: 25px;
  color: black;
  text-transform: uppercase;
  font-weight: 400;
  margin-top: 40px;
  padding: 0;
  letter-spacing: 0.2px;
  margin-bottom: 10px;
}

.social_links {
  float: right;
  margin-top: 14px;
}

ul.social_links li {
  margin-left: 10px;
  float: right;
}

ul.social_links li a {
  color: #82260e;
  width: 40px;
  height: 40px;
  border: solid #82260e 1px;
  float: left;
  text-align: center;
  line-height: 40px;
  border-radius: 100%;
  font-size: 18px;
}

ul.social_links li a:hover,
ul.social_links li a:focus {
  background: #82260e;
  color: #fff;
}

.subribe_form input {
  max-width: 305px;
  margin-top: 20px;
  margin-bottom: 0;
}

.f_menu {
  margin-top: 14px;
}

.f_menu ul {
  list-style: none;
  font-size: 17px;
  line-height: 35px;
  float: left;
  width: 100%;
}

.f_menu ul li {
  font-weight: 300;
  letter-spacing: 0.5px;
  float: left;
  width: 100%;
  position: relative;
  padding: 0 0 0 20px;
}

.f_menu ul li::after {
  width: 10px;
  height: 10px;
  background: #82260e;
  content: "";
  position: absolute;
  left: 0;
  border-radius: 100%;
  top: 13px;
}

.f_menu ul li a {
  color: black;
}

.cont_footer {
  padding-top: 15px;
}

.cont_footer p {
  font-weight: 300;
  letter-spacing: 0.5px;
  float: left;
  width: 100%;
  position: relative;
  padding: 0;
  font-size: 17px;
  color: black;
}

.cont_footer p strong {
  color: black;
  font-weight: 600;
  font-size: 17px;
}

.cpy_right p {
  text-align: center;
  font-size: 15px;
  min-height: 60px;
  line-height: 60px;
  font-weight: 400;
}

.cpy_right p a:hover,
.cpy_right p a:focus {
  color: #82260e;
  text-decoration: underline;
}

.sideBarNew {
  width: 100%;
  background-color: rgba(130, 38, 14, 0.5);
  padding: 10px;
}

.sidebarMenü {
  width: 100%;
  height: 60px;
  text-align: center;
  padding-top: 20px;
  padding-bottom: 20px;
  opacity: 2 !important;
}

.sidebarContent {
  width: 100%;
  height: 60px;
  background-color: white;
  border-radius: 50px;
  margin-top: 30px;
  text-align: center;
  color:  #82260e;
  padding-top: 15px;
  font-size: 20px;
}

.sidebarContent:hover {
  background-color: #295406;
  color: white!important;
}

.sidebarContent:focus {
  background-color: #295406;
  color: white!important;
}

.Sidebar {
  padding: 40px;
}
a:hover {
  color: #295406;
}

.slide-enter {
  opacity: 0;
  /*transform: translateY(20px);*/
}

.slide-enter-active {
  animation: slide-in 1s ease-out forwards;
  transition: opacity 1s;
}

.slide-leave {
  opacity: 1;
}

.slide-leave-active {
  animation: slide-out 1s ease-out forwards;
  transition: opacity 1s;
  opacity: 0;
}

.contact {
  margin: auto;
}

.footer-bottom {
  margin-right: 14%;
  margin-left: 14%;
  color: grey;
}

.img-products-body {
  width: 100%;
}

.background {
  padding: 30px;
  max-width: 66%;
  margin: auto;
  margin-top: 7%;
  background-color: #82260e;
  box-shadow: 0 0 5px 5px white;
}

.flavorBody {
  cursor: pointer;
  display: inline-block;
  text-align: center;
}

.drinkBody {
  cursor: pointer;
  text-align: center;
  float: right;
}

.flavorBody:hover {
  transform: scale(1.03);
  opacity: 1;
}

.flavorBody:focus {
  transform: scale(1.03);
  opacity: 1;
  border: 1px solid black;
}

.drinkBody:hover {
  transform: scale(1.03);
  opacity: 1;
}

.drinkBody:focus {
  transform: scale(1.03);
  opacity: 1;
  border: 1px solid black;
}

.top-product-desc {
  margin-top: 90px;
}

.calculator {
  color: white !important;
  max-width: 50%;
  padding: 15px;
  margin: auto;
  margin-top: 7%;
  background-color: #82260e;
  box-shadow: 0 0 5px 5px white;
  text-align: center;
}

.quiz {
  color: white !important;
  max-width: 70%;
  padding: 15px;
  margin: auto;
  margin-top: 7%;
  background-color: #82260e;
  box-shadow: 0 0 5px 5px white;
  text-align: center;
}

.eachlabel {
  margin-top: 10px;
  margin-right: 20px;
}

.btn {
  background-color: white !important;
  color: #82260e;
  border: 0;
}

.btn:hover {
  background-color: #295406 !important;
  color: white !important;
}

.hookahNumber {
  padding: 15px;
  margin: auto;
  margin-top: 2%;
  background-color: #82260e;
  box-shadow: 0 0 5px 5px white;
}

#container-whole {
  text-align: center;
  color: white;
  padding: 50px;
}

.btn:focus {
  color: white !important;
  background-color: #295406 !important;
}

@keyframes slide-in {
  from {
    transform: translateX(-10px);
  }
  to {
    transform: translateX(0);
  }
}

@keyframes slide-out {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-10px);
  }
}
